*{
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
}

a.btn:hover{
    background-color: white !important;
    color: black !important;

}


.main-container{
    background-color: #dadbf1;

}

li.border{
    padding: 5px 20px;
}

li.transparency:hover{
    opacity: 70%;
}

.contenedor-2{
    margin-top: 8%;
}

a.fs-5{
    text-decoration: none;
}

a.fs-5:hover{
    text-decoration: underline;
}

footer li {
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: white;
}

a.a:hover{
    text-decoration: underline !important;
}

div.Copyright{
    margin-top: 190px;
}

.input-azul {
    border: 2px solid #ccc; 
    border-radius: 4px; 
    padding: 10px; 
    outline: none;
    width: 100%;
    height: 60px;
}


.input-azul:focus {
    border-color: blue; 
}

.input-azul::after {
    content: '▼'; 
    color: black; 
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
}

.input-azul:focus::after {
    color: blue; 
}